<ion-view >
  <ion-tabs class="tabs-striped tabs-top tabs-color-active-assertive ">

    <ion-tab title="{{nowLang.taDiscover[1]}}" href="#/tab/discoverTab/dt1">
      <ion-nav-view name="discoverTab-dt1"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{nowLang.taDiscover[2]}}" href="#/tab/discoverTab/dt2">
      <ion-nav-view name="discoverTab-dt2" ></ion-nav-view>
    </ion-tab >

    <ion-tab title="{{nowLang.taDiscover[3]}}" href="#/tab/discoverTab/dt3">
      <ion-nav-view name="discoverTab-dt3" ></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
