<ion-view id="settingTidy">
  <!--导航栏-->
  <ion-header-bar class="bar-balanced tidy" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear" href="#/settingTidy">返回</a>
    <!--标题-->
    <h1 class="title">个人信息</h1>
  </ion-header-bar>

  <!--内容区-->
  <ion-content id="settings" class="settingTidy">
    <ion-item class="item item-divider" style="font-size:20px">
      账户信息
    </ion-item>
    <ion-item class="item item-thumbnail-right item-icon-right" style="line-height: 74px;">
      头像
      <img src="img/tab-account/user.png" style="right:50px;" />
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      用户名
      <span style="position:absolute;right:40px;">赛百路</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      密码
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      个性签名
      <span style="position:absolute;right:40px;">赛百路最好！</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-divider" style="font-size:20px">
      个人信息
    </ion-item>
    <ion-item class="item item-icon-right">
      性别
      <span style="position:absolute;right:40px;">男</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      生日
      <span style="position:absolute;right:40px;">1997/1/1</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      身份
      <span style="position:absolute;right:40px;">学生</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      地区
      <span style="position:absolute;right:40px;">中国 杭州</span>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  </ion-content>

</ion-view>

