<ion-view>
  <!--导航栏-->
  <ion-header-bar class="bar-balanced tidy" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear" href="#/indexTidy">返回</a>
    <!--标题-->
    <h1 class="title">{{nowSta}}</h1>
    <!--右侧按钮-->
    <a class="button button-clear" ng-click="openModal()">更换站点</a>
  </ion-header-bar>

  <!--内容区-->
  <ion-content style="height:{{windowHeight-50}}px;" scroll="false">
    <ion-scroll zooming="true" direction="xy" overflow-scroll="false" scrollbar-x="false" scrollbar-y="false"
                style="overflow:hidden;height:60%;background-color: #81888e" has-bouncing="false" min-zoom="0.7">
      <img id="dt1Map" src="img/tab-discover/map1.jpg" width="600"/>
    </ion-scroll>


    <div class="row" style="text-align: center;position: absolute;bottom: 40%;background: transparent;font:24px 微软雅黑;color:#fff;padding: 10px">
      <div class="col"  id="dt1Card1" ng-click="dt1SelectCard(1);">便民设施</div>
      <div class="col"  id="dt1Card2" ng-click="dt1SelectCard(2);">特殊通道</div>
      <div class="col"  id="dt1Card3" ng-click="dt1SelectCard(3);">卫生间</div>
    </div>


    <!--便民设施-->
    <div style="height:40%;font-size: 24px;font-family: 微软雅黑" id="facility">
      <div class="row">
        <div class="col "><img src="img/tab-discover/1.png"/>售票</div>
        <div class="col "><img src="img/tab-discover/4.png"/>卫生间</div>

      </div>

      <div class="row">
        <div class="col "><img src="img/tab-discover/2.png"/>询问</div>
        <div class="col "><img src="img/tab-discover/3.png"/>警务室</div>
      </div>
      <div class="row">
        <div class="col "><img src="img/tab-discover/5.png"/>公共电话</div>
        <div class="col "><img src="img/tab-discover/10.png"/>安检</div>
      </div>
      <div class="row">
        <div class="col "><img src="img/tab-discover/7.png"/>无障碍电梯</div>
        <div class="col "><img src="img/tab-discover/12.png"/>商店</div>
      </div>
      <div class="row">
        <div class="col "><img src="img/tab-discover/8.png"/>自动售票机</div>
        <div class="col "><img src="img/tab-discover/11.png"/>自动取款机</div>
      </div>
      <div class="row">
        <div class="col "><img src="img/tab-discover/6.png"/>无障碍设施</div>
      </div>
    </div>
  </ion-content>
</ion-view>
