<ion-view>
  <!--导航栏-->
  <ion-header-bar class="bar-balanced tidy" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear" href="#/indexTidy">返回</a>
    <!--标题-->
    <h1 class="title">进站出站</h1>
  </ion-header-bar>

  <!--内容区-->
  <ion-content id="tidy_fast_scan" style="padding-top:80px">
    <!--个人二维码-->
    <div id="personCode">
    </div>

    <!--时间条-->
    <div class="out">
      <div class="inTidy"></div>
    </div>

    <!--说明-->
    <h2>说明：<br/>在进站和出站时分别扫描上方动态二维码，请保证账户内余额充足</h2>
  </ion-content>
</ion-view>
