<ion-view>
  <!--导航栏-->
  <ion-header-bar class="bar-balanced tidy" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear" href="#/indexTidy">返回</a>
    <!--标题-->
    <h1 class="title">系统通知</h1>
  </ion-header-bar>

  <!--内容区-->
  <ion-content id="system_message">
    <ion-item class="item item-avatar-left">
      <img src="img/tab-account/subway-logo.png">
      <h2>杭州地铁</h2>
      <p>根据市委、市政府的统一部署，杭州地铁4号线首通段于2月2日9：30开通试运营，标志着杭州地铁从此迈入网络化运营时代！</p>
      <span>2016/1/30 18:30</span>
    </ion-item>
    <ion-item class="item item-avatar-left">
      <img src="img/tab-account/app-logo.png">
      <h2>赛百路</h2>
      <p>你好，欢迎使用赛百路地铁自助取票系统。</p>
      <span>2016/1/30 18:30</span>
    </ion-item>
  </ion-content>
</ion-view>

