<div style="text-align: center;font-family: 微软雅黑">
  <p style="font-size: 20px;color: #49c29d;"><span>{{noticeStName}}</span>
  <img style="height: 16px;margin: 20px 10px 0px;" src="img/tidy/angle-double.png"/>
  <span>{{noticeEdName}}</span></p>
  <p style="font-size: 16px">大约还有<span style="margin: 0px 10px;color: #f56c65">{{arriveMin}}:{{arriveSec}}</span>到站</p>
  <div class="row" style="border-top: solid #9d9d9d 1px;padding: 0px;height: 40px;line-height: 25px;font-family: 微软雅黑;color: #49c29d;">
    <div class="col confirmCol" style="border-right: solid #9d9d9d 1px" ng-click="closePop2();">
      关闭提醒
    </div>
    <div class="col confirmCol" ng-click="closePopNotice();">
      我知道了
    </div>
  </div>
</div>
