<ion-view>
  <ion-header-bar ng-if="false"></ion-header-bar>
  <ion-side-menus>

    <!--中间内容-->
    <ion-side-menu-content drag-content="false">

      <!--导航栏-->
      <ion-header-bar class="bar-balanced" align-title="center">
        <a class="button button-clear  icon ion-ios-arrow-back" href="#/tab/home"></a>
        <h1 class="title">杭州市</h1>
        <a ng-click="towFunction(event);" class="button button-clear">{{rightBtn}}</a>
      </ion-header-bar>

      <!--内容区-->
      <ion-content>
        <!--地铁图-->
        <ion-scroll zooming="true" direction="xy" overflow-scroll="false" scrollbar-x="false" scrollbar-y="false"
                    style="overflow:hidden;" has-bouncing="false" max-zoom="1.2" min-zoom="0.7">


          <svg xmlns="http://www.w3.org/2000/svg" width="600" height="600" id="subwayMap" style="margin-top:-20px;" ng-click="sub()">
            <g id="subwayResult">

            </g>
            <!--1号线-->
            <g style="opacity: {{w1}};">
              <!--路径-->
              <path d="M100,550
                         L100,200 520,200"

                    style="stroke:red; fill:none;stroke-width: 3px;stroke-linejoin: round; stroke-linecap: round;z-index: 999;"/>

              <path d="M380,200
                         L380,50"
                    style="stroke:red; fill:none;stroke-width: 3px;stroke-linejoin: round; stroke-linecap: round"/>
            </g>

            <!--4号线-->
            <g style="opacity: {{w4}};">
              <!--路径-->
              <path d="M240,202
                           L205,202 205,420 100,420"
                    style="stroke:#4b8bf4; fill:none;stroke-width: 3px;stroke-linejoin: round; stroke-linecap: round"/>
            </g>

            <!--2号线-->
            <g style="opacity: {{w2}};">
              <!--路径-->
              <path d="M205,420
                           L450,420 450,550"
                    style="stroke:green; fill:none;stroke-width: 3px;stroke-linejoin: round; stroke-linecap: round;"/>
            </g>


            <!--1号线站点-->
            <g style="opacity: {{w1}};">
              <circle ng-repeat="p in stations.stations[0]" cx="{{p.x}}" cy="{{p.y}}" r="3"
                      style="stroke:red;stroke-width:1;fill:#fff"/>
              <text ng-repeat="s in stations.stations[0]" x="{{s.tx}}" y="{{s.ty}}"
                    style="font-family: 微软雅黑;font-size:x-small;text-anchor: {{s.anchor}}">
                {{s.name}}
              </text>
            </g>

            <!--4号线站点-->
            <g style="opacity: {{w4}};">
              <circle ng-repeat="p in stations.stations[1]" cx="{{p.x}}" cy="{{p.y}}" r="3"
                      style="stroke:#4b8bf4;stroke-width:1;fill:#fff"/>
              <text ng-repeat="s in stations.stations[1]" x="{{s.tx}}" y="{{s.ty}}"
                    style="font-family: 微软雅黑;font-size:x-small;text-anchor: {{s.anchor}}">
                {{s.name}}
              </text>
            </g>

            <!--2号线站点-->
            <g style="opacity: {{w2}};">
              <circle ng-repeat="p in stations.stations[2]" cx="{{p.x}}" cy="{{p.y}}" r="3"
                      style="stroke:green;stroke-width:1;fill:#fff"/>
              <text ng-repeat="s in stations.stations[2]" x="{{s.tx}}" y="{{s.ty}}"
                    style="font-family: 微软雅黑;font-size:x-small;text-anchor: {{s.anchor}}">
                {{s.name}}
              </text>
            </g>
            <!--<circle ng-repeat="p in subwayDate" cx="{{p.x}}" cy="{{p.y}}" r="3"
                    style="stroke:red;stroke-width:1;fill:#fff"/>
            <text ng-repeat="s in subwayDate" x="{{s.tx}}" y="{{s.ty}}"
                  style="font-family: 微软雅黑;font-size:x-small;text-anchor: {{s.anchor}}">
              {{s.name}}
            </text>-->

            <!--起点标记-->
            <g ng-show="showSTPoint">
              <image id="subwayStPoint" x="100" y="100" width="32" height="32"
                     xlink:href="img/subway/st.png"/>
              <animateMotion
                xlink:href="#subwayStPoint"
                dur="1s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite"
                path="M0,0 0,10,0,0">

              </animateMotion>
            </g>
            <!--终点标记-->
            <g ng-show="showEDPoint">
              <image id="subwayEdPoint" x="0" y="0" width="32" height="32"
                     xlink:href="img/subway/ed.png"/>
              <animateMotion
                xlink:href="#subwayEdPoint"
                dur="1s"
                begin="0s"
                fill="freeze"
                repeatCount="indefinite"
                path="M0,0 0,10,0,0">

              </animateMotion>
            </g>
            <circle ng-repeat="p in subwayData.stations" cx="{{p.x}}" cy="{{p.y}}" r="11"
                    style="opacity: 0;" ng-click="selectStation(p.id,p.x,p.y);"/>
          </svg>
        </ion-scroll>
      </ion-content>


      <!--信息面板-->
      <div class="info_board" ng-if="true">

        <!--线路选择-->
        <div ng-if="isShow" class="box">
          <a class="button button-assertive" style="background-color: {{line1}}" ng-click="opacity1();">一<br>号<br>线</a>
          <a class="button button-positive"  style="background-color: {{line2}}" ng-click="opacity2();">二<br>号<br>线</a>
          <a class="button button-balanced" style="background-color: {{line4}}" ng-click="opacity4();">四<br>号<br>线</a>
        </div>

        <!--工具按钮-->
        <div class="btn_tools boxTools" ng-if="!showSTPoint">
          <!--线路选择按钮-->
          <a class="button button-clear" ng-click="change();"><img src="img/subway/router.png"></a>

          <!--定位按钮-->
          <a class="button button-clear"><img src="img/subway/location.png"></a>

          <!--地标检索按钮-->
          <a class="button button-clear"> <img src="img/subway/point.png"></a>

        </div>

        <div class="row input_stations">
          <div class="col" ng-click="openssModal()">
            {{selectWay.stName}}
          </div>
          <div class="col col-20" style="width: 32px;max-width: 32px">
            <img src="img/subway/exchange.png" style="height: 24px;"/>
          </div>
          <div class="col" ng-click="openedModal()">
            {{selectWay.edName}}
          </div>
        </div>

        <!--路线信息-->
        <div ng-show="showEDPoint" class="route_info">


          <div class="row subwayRow">


            <div class="col col-20 subwayCol" id="choose0" style="color: #49C29D;font-size: 16px" ng-class="isChoose" ng-click="choose(0);">
              时间短
            </div>

            <div id="subwayPassLine" class="col" style="padding-top: 15px;padding-bottom: 0px">

            </div>
          </div>

          <div class="row subwayRow">
            <div class="col col-20 subwayCol" id="choose1" style="color: #ffffff;font-size: 16px;background-color: #cccccc" ng-click="choose(1);">
              少换乘
            </div>
            <div class="col ticket_details">
              <img src="img/subway/time.png" height="15px" width="15px">
              {{selectWay.time}} 分钟
            </div>
            <div class="col ticket_details">
              <img src="img/subway/sum.png" height="15px" width="15px">
              {{selectWay.sumSta}} 站
            </div>
            <div class="col ticket_details">
              <img src="img/subway/money.png" height="15px" width="15px">
              {{selectWay.money}} 元
            </div>
          </div>
        </div>

        <!--确认/取消按钮-->
        <div ng-if="showEDPoint" class="row btn_decision">
          <a class="col button yes" ng-click="subwayToResult();">购票</a>
          <a class="col button no" ng-click="subwayCancel();">取消</a>
        </div>
      </div>

    </ion-side-menu-content>


    <!--右侧菜单栏-->
    <ion-side-menu side="right" id="history">
      <ion-header-bar class="bar-dark">
        <h1 class="title">
          <span class="sideRight" ng-click="like();" ng-style="s1" >收藏</span>
          <span class="sideRight" ng-click="history();" ng-style="s2">历史</span>
        </h1>
        <a menu-toggle="right" class="button button-clear" style="padding-top: 2px;color: #49c29d">编辑</a>
      </ion-header-bar>
      <ion-content class="dark-bg">
        <!--收藏-->
        <ion-list ng-if="isLike">
          <ion-item class="item-divider item-balanced" style="height:15px;">
            线路收藏
          </ion-item>
          <ion-item  class="item-dark item-avatar-right" ng-click="subwayDraw()">
            <img src="img/number/1.png">
            <p><span style="color: #cccccc;margin-right: 5px">起：</span>武林广场</p>
            <p><span style="color: #cccccc;margin-right: 5px">终：</span>火车东站</p>
          </ion-item>
          <ion-item class="item-divider item-balanced">
            站点收藏
          </ion-item>
          <ion-item class="item-dark item-avatar-right">
            <img src="img/number/1.png">
            <p>钱江世纪城</p>
          </ion-item>

        </ion-list>
        <!--历史-->
        <ion-list ng-if="!isLike">
          <ion-item class="item-divider item-balanced" style="height:15px;">
            历史纪录
          </ion-item>
          <ion-item  class="item-dark item-avatar-right" ng-click="subwayDraw()">
            <img src="img/number/2.png">
            <p><span style="color: #cccccc;margin-right: 5px">起：</span>城星路</p>
            <p><span style="color: #cccccc;margin-right: 5px">终：</span>新风</p>
          </ion-item>
        </ion-list>
      </ion-content>

    </ion-side-menu>


  </ion-side-menus>

</ion-view>




