<ion-view>
  <!--导航栏-->
  <ion-header-bar class="bar-balanced" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear  icon ion-ios-arrow-back" href="#/tab/pubNews"></a>
    <!--标题-->
    <h1 class="title">动态</h1>
    <!--右侧按钮-->
    <a class="button button-clear" href="#/myMessage">消息</a>
  </ion-header-bar>

  <!--内容区-->
  <ion-content>
    <ion-item class="item item-avatar-left pub_all" ng-repeat="x in contentTitle">
      <img src="{{x.userImg}}">
      <p class="user_name">{{x.user}}</p>
      <p style="color: #a1a1a1">{{x.time}}<span style="margin-right: 20px"></span> {{x.place}}</p>
      <p class="content">{{x.content}}</p>
      <p ng-if="x.hasContact"></p>
      <p style="margin-bottom: 10px" ng-if="x.hasImage"><img src="{{x.image}}" width="100%" height="100%"></p>
      <a ng-if="isNews" class="button button-clear" style="margin-left:10px;float: right;color: #a1a1a1;"><img class="like" src="img/tab-pub/good.png">12</a>
      <a class="button button-clear" style="position: absolute;left: 150px;color: #a1a1a1" ng-click="toTransmit($index)"><img class="resend" src="img/tab-pub/post.png" >转发</a>
      <a class="button button-clear" style="left: 170px; color:#a1a1a1"><img class="comment" src="img/tab-pub/comment.png">{{x.comment}}</a>
      <a class="button button-clear" style="left: 190px;color: #a1a1a1;"><img class="like" src="img/tab-pub/good.png">{{x.good}}</a>
    </ion-item>
  </ion-content>
</ion-view>
