<ion-view id="settings">
  <!--导航栏-->
  <ion-header-bar class="bar-balanced" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear" href="#/enpt"><i ng-if="!isTidy" class="icon ion-ios-arrow-back"></i><span ng-if="isTidy">返回</span></a>
    <!--标题-->
    <h1 class="title">环保贡献</h1>
    <!--右侧按钮-->
    <!--<a class="button button-clear icon ion-plus" href="#/morePayWay"></a>-->
  </ion-header-bar>
  <ion-content>
    <div class="enpt_title">什么是环保贡献？</div>
    <div class="enpt_content">
      所有赛百路App注册用户使用赛百路购票（线上购票、实名无票通行）过程中均有机会获得环保贡献值，环保贡献值是一种荣誉的体现。
    </div>

    <div class="enpt_title">如何获得环保贡献？</div>
    <div class="enpt_content">
      通过赛百路App线上购票并完成出行、通过实名无票通行乘坐地铁的用户，根据出行的里程数获得相应的环保贡献值。
    </div>

    <div class="enpt_title">环保贡献有什么用？</div>
    <div class="enpt_content">
      通过环保贡献值的累积可以升用户等级。根据等级的不同，将获得不同的地铁乘坐优惠劵。等级越大，优惠内容价值越高。赛百路会在未来逐步推出各类环保贡献值兑换内容，请随时关注关于环保贡献值的新消息吧。
    </div>
  </ion-content>
</ion-view>
