<ion-view>
  <!--导航栏-->
  <ion-header-bar class="bar-balanced" align-title="center">
    <!--左侧按钮-->
    <a class="button button-clear  icon ion-ios-arrow-back" href="#/tab/account"></a>
    <!--标题-->
    <h1 class="title">账户安全</h1>
    <!--右侧按钮-->
    <a class="button button-clear" href="#/safeDetail">编辑</a>
  </ion-header-bar>

  <!--内容区-->
  <ion-content id="safety">
    <ion-item>
      <span class="safety_item">绑定手机</span>
      <span class="number">1321**9852</span>
    </ion-item>
    <ion-item>
      <span class="safety_item">关联邮箱</span>
      <span class="number">1321**9852@qq.com</span>
    </ion-item>
    <p>请勿向他人透露个人安全信息</p>
  </ion-content>
</ion-view>
