<ion-view>
  <!--导航栏-->
  <ion-header-bar class="bar-balanced" align-title="center">
    <!--标题-->
    <h1 class="title">地标搜索</h1>
  </ion-header-bar>

  <!--搜索框-->
  <div style="background-color:#fff;position:fixed;top:50px;width:100%;height: 56px;border-bottom:solid #d7d7d7 1px;padding:0px 5px;">
    <div class="bar item-input-inset" style="background: none">
      <label class="item-input-wrapper" style="border:solid #49c29d 1px;border-radius: 12px;height: 35px;margin-top: 2px;background-color: #fff;">
        <img src="img/tab-pub/search.png"  style="height: 22px;margin: 5px;"/>
        <input type="text" class="input_info" placeholder="搜索" style="font-family: 微软雅黑">
      </label>
      <a class="button button-clear" style="color:#a1a1a1;font-family: 微软雅黑;top: 2px;font-size: 16px" href="#/tab/dt3">取消</a>
    </div>
  </div>

  <!--搜索结果-->
  <ion-content style="top:106px;margin: 0px">
    <ion-item style="border:none; border-bottom: 1px solid #ddd;">hello </ion-item>
  </ion-content>
</ion-view>
